@model MainViewViewModel

<h3 class="mt-3">@Localizer["ContenuDossier"] @Model.SelectedNodeName</h3>
<button type="button" class="btn btn-outline-secondary">
    @Html.ActionLink(Model.CreateButtonLabel, "Create")
</button>
<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model.ADRoot)
        {
            if (item.Path == Model.SelectedPath)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SamAccountName)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary offset-lg-7 offset-md-5 offset-sm-3 offset-6">
                            @* TODO *@
                            @Html.ActionLink(Model.EditLinkLabel, "Edit", new { /* id=item.PrimaryKey */ })
                        </button>
                        <form action="Delete" method="post" style="display: inline-block">
                            <button type="submit" class="btn btn-outline-secondary">
                                @* TODO *@
                                @Localizer["Delete"].Value
                            </button>
                            <input type="hidden" name="SelectedPath" value="@Model.SelectedPath" />
                            <input type="hidden" name="SelectedContentName" value="@item.SamAccountName" />
                        </form>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
