@model MainViewViewModel

<h3 class="mt-3">@Localizer["ContenuDossier"] @Model.SelectedName</h3>
<button type="button" class="btn btn-outline-secondary">
    @Html.ActionLink(Model.CreateButtonLabel, "Create")
</button>
<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model.ADRoot)
        {
            if (item.Path == Model.SelectedPath)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SamAccountName)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary offset-lg-7 offset-md-5 offset-sm-3 offset-6">
                            @* TODO *@
                            @Html.ActionLink(Model.EditLinkLabel, "Edit", new { /* id=item.PrimaryKey */ })
                        </button>
                        <button type="button" class="btn btn-outline-secondary">
                            @* TODO *@
                            @Html.ActionLink(Localizer["Delete"].Value, "Delete", new { /* id=item.PrimaryKey */ })
                        </button>

                    </td>
                </tr>

            }
        }
    </tbody>
</table>
