@model MainViewViewModel

@{ HADES.Data.ApplicationDbContext tempdb = new(); }
@{ IUser u = HADES.Util.ConnexionUtil.CurrentUser(Context.User); }

<h3 class="mt-1 mb-2
    ">
    @Localizer["Folder"] @Model.SelectedNodeName
</h3>
@if (u.GetRole().AdCrudAccess)
{
    <!-- Button trigger modal create OU ou Group -->
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="@Model.DataTarget" data-backdrop="false">
        <span data-toggle="tooltip" data-html="true" data-placement="right" title="@Model.CreateButtonLabel">
            <i class="fa fa-plus fa-fw mr-4 ml-4"></i>
        </span>
    </button>
}

@if (u.GetRole().AdCrudAccess)
{
    <!-- Modal Create Group -->
    @await Html.PartialAsync("_CreateGroupModal", Model)

    <!-- Modal Create OU -->
    @await Html.PartialAsync("_CreateOuModal", Model)
}

<!-- Liste des dossiers ou des groupes à partir de la sélection du treeview -->
<table class="table tableHomeView">
    <thead>
    </thead>
    <tbody>
        <tr><td style="border-top:none;"></td></tr>

        @for (int i = 0; i < Model.ADRoot.Count; i++)
        {
            var selectedPathLength = Model.SelectedPath.Split('/').Length;
            var dataTarget = "";
            Model.Index = i;
            //var groupId = "b" + i.ToString();


            if (Model.ADRoot[i].Path == Model.SelectedPath)
            {
                <tr>
                    <td>
                        @if (selectedPathLength == 2)
                        {
                            <a data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#main"
                               href='@Url.Action("UpdateContent","Home",
                                    new {
                                        selectedPathForContent = Model.SelectedPath + (selectedPathLength == 2 ? "/" + Model.ADRoot[i].SamAccountName : ""),
                                        expandedNodeNames = Model.ExpandedNodesName
                                    })'>
                                <i class="icon fa fa-folder mr-2"></i>
                                @Model.ADRoot[i].SamAccountName
                            </a>
                            dataTarget = "#a" + i.ToString();
                        }
                        else
                        {
                            <a href='#' style="pointer-events: none">
                                <i class="icon fa fa-users mr-2"></i>
                                @Model.ADRoot[i].SamAccountName
                            </a>
                            dataTarget = "#b" + i.ToString();
                        }
                    </td>
                    <td style="text-align: right">
                        @if (u.GetRole().AdCrudAccess)
                        {
                            <!-- Modal Rename OU -->
                            @await Html.PartialAsync("_RenameOUModal", Model)
                        }
                        <!-- Modal editGroup -->
                        @if (u.GetRole().AdCrudAccess || selectedPathLength > 2)
                        {
                            <span data-toggle="tooltip" data-html="true" data-placement="right" title="@Model.EditLinkLabel">
                                <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#tabContent@(i)"
                                   href='@Url.Action("GetTabsContent","Home",
                                    new {
                                    dn = Model.ADRoot[i].Dn,
                                    selectedPath = Model.SelectedPath,
                                    selectedNodeName = Model.SelectedNodeName,
                                    index = Model.Index,
                                    expandedNodesName = Model.ExpandedNodesName})'
                                   class="btn btn-primary" data-toggle="modal" data-target="@dataTarget" data-backdrop="false">
                                    <i class="fa fa-edit fa-fw"></i>
                                </a>
                            </span>
                        }

                        <div class="modal fade" id="b@(i)" tabindex="-1" role="dialog" aria-labelledby="GroupCreateLbl"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="GroupCreateLbl">@Localizer["EditGroup"]</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div id="tabContent@(i)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button to delete -->
                        @if (u.GetRole().AdCrudAccess)
                        {
                            <form onsubmit="return formSubmit(this)" style="display: inline-block">
                                <button class="btn btn-primary" data-toggle="tooltip" data-html="true" data-placement="right" title="@HADES.Strings.Delete">
                                    <i class="fa fa-trash-alt fa-fw"></i>
                                </button>
                                <input type="hidden" name="SelectedPath" value="@Model.SelectedPath" />
                                <input type="hidden" name="SelectedContentName" value="@Model.ADRoot[i].SamAccountName" />
                                <input type="hidden" name="ExpandedNodesName" value="@Model.ExpandedNodesName" />
                            </form>
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<script type="text/javascript" src="~/js/formValidation.js"></script>
<script type="text/javascript" src="~/js/formFocus.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

