@model MainViewViewModel

<div class="modal fade" id="GroupCreate" tabindex="-1" role="dialog" aria-labelledby="GroupCreateLbl"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GroupCreateLbl">@Strings.GroupCreate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation" asp-controller="Home" asp-action="CreateGroupModal" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#main" novalidate>
                <div class="modal-body GroupModalBody">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-groupName-tab" data-toggle="tab" href="#nav-groupName"
                               role="tab" aria-controls="nav-home" aria-selected="true">@Strings.General</a>
                            @{
                                var tabClass = Model != null ? "nav-item nav-link" : "nav-item nav-link disabled";
                            }
                        <a class="@tabClass" id="nav-members-tab" data-toggle="tab" href="#nav-members"
                           role="tab" aria-controls="nav-members" aria-selected="false">@Strings.Members</a>
                        <a class="@tabClass" id="nav-owners-tab" data-toggle="tab" href="#nav-owners"
                           role="tab" aria-controls="nav-owners" aria-selected="false">@Strings.Owners</a>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-groupName" role="tabpanel" aria-labelledby="nav-groupName-tab">
                            <!-- general form -->
                            <input type="hidden" name="SelectedPath" value="@Model.SelectedPath" />
                            <input type="hidden" name="SelectedPath" value="@Model.SelectedNodeName" />
                            <input type="hidden" name="SelectedPath" value="@Model.SelectedContentName" />
                            <input type="hidden" name="ExpandedNodesName" value="@Model.ExpandedNodesName" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group row">
                                <label asp-for="GroupAD.SamAccountName" class="col-sm-2 col-form-label">@Strings.Name</label>
                                <div class="col-sm-10">
                                    <input asp-for="GroupAD.SamAccountName" class="form-control" placeholder="Name" pattern='^[^/[\]:;|=+*?<>,"\\]*$' required >
                                    <div class="invalid-tooltip">
                                        @HADES.Strings.InvalidCharacters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="GroupAD.Description" class="col-sm-2 col-form-label">@Strings.Description</label>
                                <div class="col-sm-10">
                                    <input asp-for="GroupAD.Description" class="form-control" placeholder="Description">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="GroupAD.Email" class="col-sm-2 col-form-label">@Strings.Email</label>
                                <div class="col-sm-10">
                                    <input asp-for="GroupAD.Email" type="Email" class="form-control" id="Email" placeholder="@Strings.Email">
                                    <div class="invalid-tooltip">
                                        @HADES.Strings.email_Invalid_error
                                    </div>
                                </div>
                            </div>

                            <script type="text/javascript">

                                var today = new Date();
                                var nextYear = new Date(today.getFullYear() + 1, today.getMonth(), today.getDate());

                                $("#dateExp")
                                    .val(today.toISOString().substring(0, 10))
                                    .datepicker({
                                        maxDate: nextYear,
                                        minDate: today,
                                        defaultDate: today,
                                        dateFormat: "yy-mm-dd",
                                    });

                            </script>

                            <div class="form-group row">
                                <label asp-for="GroupAD.ExpirationDate" class="col-sm-2 col-form-label">@Strings.ExpirationDate</label>
                                <div class="col-sm-10">
                                    <input asp-for="GroupAD.ExpirationDate" id="dateExp" class="form-control" type="text" value="" readonly />
                                </div>
                            </div>


                            <div class="form-group row">
                                <label asp-for="GroupAD.Notes">@Strings.Notes</label>
                                <textarea asp-for="GroupAD.Notes" class="form-control" id="Notes" rows="3"></textarea>
                            </div>

                        </div>

                        <div class="tab-pane fade tab-absolute" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
                            <!-- members form -->
                            <div>
                                <div class="directorist-select directorist-select-multi" id="CreateMembersMultiSelect" data-isSearch="true" data-multiSelect='@Model.UsersAD'>
                                    <input type="hidden" asp-for="@Model.SelectedMembers">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade tab-absolute" id="nav-owners" role="tabpanel" aria-labelledby="nav-owners-tab">
                            <!-- Owners form -->
                            <div>
                                <div class="directorist-select directorist-select-multi" id="CreateOwnersMultiSelect" data-isSearch="true" data-multiSelect='@Model.UsersAD'>
                                    <input type="hidden" asp-for="@Model.SelectedOwners">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnSave">@Strings.Create</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">@Strings.Back</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript">
    pureScriptSelect('#CreateMembersMultiSelect');
    pureScriptSelect('#CreateOwnersMultiSelect');
</script>