@model MainViewViewModel

@section scripts
{
    <link rel="stylesheet" href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css">
    <script type="text/javascript" src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="~/js/treeview.js"></script>
    <script type="text/javascript">showTreeView(@Html.Raw(Model.ADRootTreeNodeJson), '@Model.SelectedNodeName');</script>
}

<div class="row">

    @* Left Nav *@
    <div class="col-sm-4">
        <h3 class="mt-3">@Localizer["DossierGroupe"]</h3>
        <div id="leftnav">
            @if (Model.ADConnectionError != null)
            {
                <h6 class="text-center bg-warning mt-lg-5">@Model.ADConnectionError</h6>
            }
            else
            {
                @Html.Partial("_LeftNav", Model)
            }

        </div>
    </div>

    @* Right Nav *@
    <div class="col-sm-8">
        <h3 class="mt-3">Contenu des dossiers et des groupes</h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#GroupCreate">
            Create new
        </button>
        @await Html.PartialAsync("CreateGroupModal", Model.GroupAD)
        @if (Model.ADConnectionError != null)
        {
            <h3 class="mt-3">@Localizer["ContenuDossier"]</h3>
            <div></div>
        }
        else
        {
            <div id="content">
                @Html.Partial("_Content", Model)
            </div>
        }
    </div>
</div>

