@model MainViewViewModel

@section scripts
{
    <link rel="stylesheet" href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/treeview.js"></script>
    <script type="text/javascript">showTreeView(@Html.Raw(Model.ADRootTreeNodeJson), '@Model.SelectedNodeName');</script>
}

<div class="row">

    @* Left Nav *@
    <div class="col-sm-4">
        <h3 class="mt-3">@Localizer["DossierGroupe"]</h3>
        <div id="leftnav">
            @if (Model.ADConnectionError != null)
            {
                <h6 class="text-center bg-warning mt-lg-5">@Model.ADConnectionError</h6>
            }
            else
            {
                @await Html.PartialAsync("_LeftNav", Model)
            }

        </div>
    </div>

    @* Right Nav *@
    <div class="col-sm-8">

        @if (Model.ADConnectionError != null)
        {
            <h3 class="mt-3">@Localizer["ContenuDossier"]</h3>
            <div></div>
        }
        else
        {
            <div id="content">
                @await Html.PartialAsync("_Content", Model)
            </div>
        }
    </div>

</div>

<!-- dialogs -->
<div id="dialog-error-delete" title=@Localizer["DeleteFailedTitle"].Value>@Localizer["DeleteFailedMessage"]</div>
<div id="dialog-confirmation-delete" title=@Localizer["DeleteConfirmationTitle"].Value>@Localizer["DeleteConfirmationMessage"]</div>