@model UserListViewModel

@{
    IUser currentUser = HADES.Util.ConnexionUtil.CurrentUser(Context.User);
}

@section scriptPreBootStrap
{
    <link rel="stylesheet" href="~/css/@currentUser.GetUserConfig().ThemeFile/jquery-ui.min.css">
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/dialogConfirmUser.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
}

@if (Model == null)
{
    <h6 class="text-center bg-warning mt-lg-5">@Localizer["ADError"]</h6>
}
else
{
    <div class="bg-primary text-white text-center">
        <h1 class="m-3 p-3"><i class="fa fa-users fa-fw mr-3"></i>@Localizer["UserList"]</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Localizer["FirstName"]</th>
                <th scope="col">@Localizer["LastName"]</th>
                <th scope="col">@Localizer["SamAccount"]</th>
                <th scope="col">@Localizer["Role"]</th>
                <th scope="col">@Localizer["OwnerOf"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserViewModel u in Model.ActiveUsers)
            {
                <tr id=@u.GUID>
                    <td>@u.FirstName</td>
                    <td>@u.LastName</td>
                    <td>@u.SamAccount</td>
                    <td>@u.Role</td>
                    <td>@u.OwnerOf</td>
                    <td>
                        <form action="Remove" method="post" onsubmit="return removeUser(this)" style="display: inline-block">
                            <div data-toggle="tooltip" data-html="true" data-placement="top" title="@Localizer["UserRemoveToolTip"]">
                                <button class="btn btn-danger">@HADES.Strings.Remove</button>
                                <input type="hidden" name="guid" value=@u.GUID />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />

    <div class="bg-danger text-white text-center">
        <h2 class="m-3 p-3"><i class="fa fa-users-slash fa-fw mr-3"></i>@Localizer["Inactive"]</h2>
    </div>
    <table class="table table-danger">
        <thead>
            <tr>
                <th scope="col">@Localizer["FirstName"]</th>
                <th scope="col">@Localizer["LastName"]</th>
                <th scope="col">@Localizer["SamAccount"]</th>
                <th scope="col">@Localizer["Role"]</th>
                <th scope="col">@Localizer["OwnerOf"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserViewModel u in Model.InactiveUsers)
            {
                <tr id=@u.GUID class="text-muted">
                    <td>@u.FirstName</td>
                    <td>@u.LastName</td>
                    <td>@u.SamAccount</td>
                    <td>@u.Role</td>
                    <td>@u.OwnerOf</td>
                    <td>
                        <form action="Delete" method="post" onsubmit="return deleteUser(this)" style="display: inline-block">
                            <div data-toggle="tooltip" data-html="true" data-placement="top" title="@Localizer["UserDeleteToolTip"]">
                                <button class="btn btn-danger">@HADES.Strings.Delete</button>
                                <input type="hidden" name="guid" value=@u.GUID />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <!-- dialogs -->
    <div id="dialog-confirmation-remove" title=@Localizer["RemoveConfirmationTitle"].Value>@Localizer["RemoveConfirmationMessage"]</div>
    <div id="dialog-confirmation-delete" title=@Localizer["DeleteConfirmationTitle"].Value>@Localizer["DeleteConfirmationMessage"]</div>
}
