@model AppConfigViewModel
@{
    ViewBag.Title = Localizer["AppConfigTitle"];
}

<div class="bg-primary text-white text-center">
    <h1 class="m-3 p-3">@Localizer["ParametreApplication"]</h1>
</div>

<form asp-action="AppConfig" method="post">
    <div class="form-group row">
        <input type="hidden" asp-for="@Model.ActiveDirectory.Id" />
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["RootOu"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.RootOu" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["PortNumber"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.PortNumber" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["ServerAddress"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.ServerAddress" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["ConnectionFilter"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.ConnectionFilter" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["BaseDN"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.BaseDN" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["AccountDN"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.AccountDN" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["PasswordDN"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="password" asp-for="@Model.ActiveDirectory.PasswordDN" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["SyncField"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <select id="syncfield" name="syncfield" class="form-control">
                <option value="samaccountname">samaccountName</option>
                <option value="mail">mail</option>
                <option value="userprincipalname">userprincipalname</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <input type="hidden" asp-for="@Model.DefaultUser.Id" />
        <input type="hidden" asp-for="@Model.DefaultUser.UserConfigId" />
        <input type="hidden" asp-for="@Model.DefaultUser.RoleId" />
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["DefaultUser"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.DefaultUser.UserName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["DefaultUserPassword"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="password" asp-for="@Model.DefaultUser.Password" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["DefaultUserPasswordConfirm"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="password" name="confirm" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <input type="hidden" asp-for="@Model.AppConfig.Id" />
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["CompanyLogoFile"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AppConfig.CompanyLogoFile" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["CompanyName"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AppConfig.CompanyName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["CompanyBackgroundFile"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AppConfig.CompanyBackgroundFile" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["DefaultLanguage"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <select id="language" name="language" class="form-control">
                <option value="fr-CA">Français</option>
                <option value="en-US">English</option>
                <option value="es-US">Español</option>
                <option value="pt-BR">Português</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["SMTP"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AppConfig.SMTPServer" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["LogDeleteFrequency"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AppConfig.LogDeleteFrequency" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["LogMaxFileSize"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AppConfig.LogMaxFileSize" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["LogTotalMaxSize"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AppConfig.LogTotalMaxSize" class="form-control" />
        </div>
    </div>
    @if (Model.AppConfig != null)
    {
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="@Model.AdminGroups.First().GUID" class="control-label"></label>
                        </th>

                    </tr>
                </thead>
                @if (Model.AdminGroups != null)
                {
                    for (var i = 0; i < Model.AdminGroups.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="@Model.AdminGroups[i].Id" />
                                <input type="hidden" asp-for="@Model.AdminGroups[i].AppConfigId" />
                                <input class="form-control" asp-for="@Model.AdminGroups[i].GUID" />
                            </td>
                            <td><a asp-action="AdminGroupDelete" asp-route-id="@Model.AdminGroups[i].Id"><h2><i class="bi bi-trash"></i></h2></a></td>
                        </tr>
                    }
                }
                <tr>
                    <td><a asp-action="CreateAdminGroup" asp-route-id="@Model.AppConfig.Id"><h2><i class="bi bi-person-plus-fill"></i></h2></a></td>
                </tr>
            </table>
        </div>

        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="@Model.SuperAdminGroups.First().GUID" class="control-label"></label>
                        </th>

                    </tr>
                </thead>
                @if (Model.SuperAdminGroups != null)
                {
                    for (var i = 0; i < Model.SuperAdminGroups.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="@Model.SuperAdminGroups[i].Id" />
                                <input type="hidden" asp-for="@Model.SuperAdminGroups[i].AppConfigId" />
                                <input class="form-control" asp-for="@Model.SuperAdminGroups[i].GUID" />
                            </td>
                            <td><a asp-action="SuperAdminGroupDelete" asp-route-id="@Model.SuperAdminGroups[i].Id"><h2><i class="bi bi-trash"></i></h2></a></td>
                        </tr>
                    }
                }
                <tr>
                    <td><a asp-action="CreateSuperAdminGroup" asp-route-id="@Model.AppConfig.Id"><h2><i class="bi bi-person-plus-fill"></i></h2></a></td>
                </tr>
            </table>
        </div>
    }
    <div class="form-group row">
        <div class="col-sm-4">
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">@Localizer["Save"]</button>
        </div>
    </div>
</form>