@model HADES.Models.SuperAdminGroup

@{
    ViewData["Title"] = Localizer["SuperAdminGroup"];
}

<br />
<h4>@Localizer["SuperAdminGroup"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSuperAdminGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">DN</label>
                <input name="DN" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" name="appconfig" value="@ViewBag.AppConfigId" />
            </div>
            <div class="form-group">
                <input type="submit" value="@Strings.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <p class="text-danger">@ViewBag.Error</p>
    <a asp-action="AppConfig" class="btn btn-secondary">@Strings.Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}