@model AppConfigViewModel
@{
    ViewBag.Title = Localizer["AppConfigTitle"];
}

<div class="bg-primary text-white text-center">
    <h1 class="m-3 p-3">@Localizer["ParametreApplication"]</h1>
</div>

<form asp-action="Index" method="post">
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["PortNumber"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.PortNumber" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["ServerAddress"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.ServerAddress" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["ConnectionFilter"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.ConnectionFilter" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["BaseDN"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.BaseDN" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["AccountDN"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.AccountDN" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["PasswordDN"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.PasswordDN" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["SyncField"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.SyncField" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["SuperAdminGroup"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.SuperAdminGroup" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["DefaultUser"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.DefaultUser" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["DefaultUserPassword"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.DefaultUser.Password" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["AdminGroup"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.AdminGroup" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["RootOu"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.ActiveDirectory.RootOu" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["CompanyLogoFile"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.CompanyLogoFile" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["CompanyName"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.CompanyName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["CompanyBackgroundFile"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.CompanyBackgroundFile" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["DefaultLanguage"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.DefaultLanguage" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["SMTP"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.SMTP" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["LogDeleteFrequency"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.LogDeleteFrequency" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["LogMaxFileSize"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.LogMaxFileSize" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 col-lg-3 offset-lg-2"><label>@Localizer["LogTotalMaxSize"]</label></div>
        <div class="col-sm-9 col-lg-5">
            <input type="text" asp-for="@Model.LogTotalMaxSize" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="offset-10 offset-lg-9">
            <button type="submit" class="btn btn-primary btn-lg">@Localizer["Save"]</button>
        </div>
    </div>
</form>