<!DOCTYPE html>
@{ HADES.Data.ApplicationDbContext tempdb = new(); }
@{
    IUser u = HADES.Util.ConnexionUtil.CurrentUser(Context.User);
    string themeFileCss = u.GetUserConfig().ThemeFile.ToString() + ".css";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HADES</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/@u.GetUserConfig().ThemeFile/@themeFileCss">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css">

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @* TODO: Logo *@
                        <a class="navbar-brand" asp-action="MainView" asp-controller="Home" asp-area="">
                            <img src=@tempdb.AppConfig.FirstOrDefault().CompanyLogoFile alt="*LOGO*" height="60" />
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto text-light">
                    <li class="nav-item">
                        HADES - @tempdb.AppConfig.FirstOrDefault().CompanyName
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto text-light">
                    <li class="nav-item">
                        @u?.GetName() (@u?.GetRole().Name)

                    </li>
                </ul>
                @if (u.GetRole().AppConfigAccess || u.GetRole().EventLogAccess || u.GetRole().UserListAccess)
                {
                    <div class="dropdown dropmenu">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            @if (u.GetRole().AppConfigAccess)
                            {
                                <a class="dropdown-item" asp-action="AppConfig" asp-controller="AppConfig" asp-area="">@Localizer["ParametreApplication"]</a>
                            }
                            @if (u.GetRole().EventLogAccess)
                            {
                                <a class="dropdown-item" asp-action="MainView" asp-controller="Home" asp-area="">@Localizer["JournalEvenements"]</a>
                            }
                            @if (u.GetRole().UserListAccess)
                            {
                                <a class="dropdown-item" asp-action="UserList" asp-controller="UserList" asp-area="">@Localizer["ListeUtilisateurs"]</a>
                            }
                        </div>
                    </div>
                }

                <div class="dropdown dropmenu">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" asp-action="UserConfig" asp-controller="UserConfigs">@Localizer["ParametreUtilisateur"]</a>
                        <a class="dropdown-item" asp-action="LogOut" asp-controller="Account">@Localizer["Deconnexion"]</a>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            @RenderBody()
        </main>
    </div>

</body>
</html>
