<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HADES</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @* TODO: Logo *@
                        <a class="navbar-brand" asp-action="MainView" asp-controller="Home" asp-area="">
                            <img src="~/img/Logo.png" alt="*LOGO*" />
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto text-light">
                    <li class="nav-item">
                        @* TODO: HADES - Nom de l'entreprise *@
                        @{ HADES.Data.ApplicationDbContext tempdb = new(); }
                        HADES - @tempdb.AppConfig.FirstOrDefault().CompanyName
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto text-light">
                    <li class="nav-item">
                        @* TODO: Nom utilisateur (Role)*@
                        @{
                            IUser u = HADES.Util.ConnexionUtil.CurrentUser(Context.User);


                        }
                        @u?.GetName() (@u?.GetRole().Name)

                    </li>
                </ul>
                @if (u.GetRole().AppConfigAccess || u.GetRole().EventLogAccess || u.GetRole().UserListAccess)
                {
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            @Localizer["MenuAdministrateur"]
                        </button>
                        <div class="dropdown-menu">
                            @if (u.GetRole().AppConfigAccess)
                            {
                                <a class="dropdown-item" asp-action="AppConfig" asp-controller="AppConfig" asp-area="">@Localizer["ParametreApplication"]</a>
                            }
                            @if (u.GetRole().EventLogAccess)
                            {
                                <a class="dropdown-item" asp-action="MainView" asp-controller="Home" asp-area="">@Localizer["JournalEvenements"]</a>
                            }
                            @if (u.GetRole().UserListAccess)
                            {
                                <a class="dropdown-item" asp-action="MainView" asp-controller="Home" asp-area="">@Localizer["ListeUtilisateurs"]</a>
                            }
                        </div>
                    </div>
                }

                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        @Localizer["MenuUtilisateur"]
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="UserConfig" asp-controller="UserConfigs">@Localizer["ParametreUtilisateur"]</a>
                        <a class="dropdown-item" asp-action="LogOut" asp-controller="Account">@Localizer["Deconnexion"]</a>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            @RenderBody()
        </main>
    </div>

</body>
</html>
