
@{
    ViewData["Title"] = "Documentation";
}

@{
    IUser currentUser = HADES.Util.ConnexionUtil.CurrentUser(Context.User);
}

@section scriptPreBootStrap
{
    <link rel="stylesheet" href="~/css/@currentUser.GetUserConfig().ThemeFile/jquery-ui.min.css">
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
}



<div class="bg-primary text-white text-center">
    <h1 class="m-3 p-3"><i class="fa fa-info-circle fa-fw mr-3"></i>@HADES.Strings.Documentation</h1>
</div>

<div id="ExpirationDateSection">
    <h3>@HADES.Strings.doc_notexpdateTitle</h3>
    <p>@HADES.Strings.doc_notexp01</p>
    <p>@HADES.Strings.doc_notexp02</p>
    <ol>
        <li>@HADES.Strings.doc_notexp03 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image1.png' alt='image1'>"></i></li>
        <li>@HADES.Strings.doc_notexp04 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image11.png' alt='image2'>"></i></li>
        <li>@HADES.Strings.doc_notexp05 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image3.png' alt='image3'>"></i></li>
        <li>@HADES.Strings.doc_notexp06 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image2.png' alt='image4'>"></i></li>
        <li>@HADES.Strings.doc_notexp07 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image8.png' alt='image5'>"></i></li>
        <li>@HADES.Strings.doc_notexp08 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image5.png' alt='image6'>"></i></li>
        <li>@HADES.Strings.doc_notexp09 <a href="https://www.vishnivetsky.ru/notices%20articles%20reviews/on-line%20oid%20generator%20for%20active%20directory%20schema.html">@HADES.Strings.link_generator</a> <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image10.png' alt='image7'>"></i></li>
        <li>@HADES.Strings.doc_notexp010 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image7.png' alt='image8'>"></i></li>
        <li>@HADES.Strings.doc_notexp011 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image6.png' alt='image9'>"></i></li>
        <li>@HADES.Strings.doc_notexp012 <i class="fa fa-info-circle fa-fw mr-3" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<img src='\img\image4.png' alt='image10'>"></i></li>
    </ol>

</div>



<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>