@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="container">
    <h1 class="text-danger">Error 403 : FORBIDDEN</h1>
    <h2 class="text-danger">@Localizer["MSG_403"]</h2>


    <h3>@Localizer["MSG_Reason"]</h3>
    <ul>
        <li>@Localizer["r1"]</li>
        <li>@Localizer["r2"]</li>
        <li>@Localizer["r3"]</li>
    </ul>
</div>

